{% extends 'gallery/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block css %}
{%endblock%}

{%block header%}
{%endblock%}

{% block body%}
<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url(/static/images/galleryLogo.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Gallery</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a href="index.html">Home</a></li>
                        <li>Gallery</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <div class="bg-white lightgallery" id="lightgallery">
        <!-- Left & right section start -->
        <div class="section-full bg-white content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-content box-sort-in button-example">
                            <div class="row">
                                
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic1.1.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic1.1.JPG'%}" data-src="{%static 'images/gallery/pic1.1.JPG'%}" class="check-km" title="Mercedes 1">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic1.2.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic1.2.JPG'%}" data-src="{%static 'images/gallery/pic1.2.JPG'%}" class="check-km" title="Mercedes 2">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic1.3.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic1.3.JPG'%}" data-src="{%static 'images/gallery/pic1.3.JPG'%}" class="check-km" title="Mercedes 3">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic1.4.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic1.4.JPG'%}" data-src="{%static 'images/gallery/pic1.4.JPG'%}" class="check-km" title="Mercedes 4">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic2.1.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic2.1.JPG'%}" data-src="{%static 'images/gallery/pic2.1.JPG'%}" class="check-km" title="Ferrari 1">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic2.2.jpg'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic2.2.jpg'%}" data-src="{%static 'images/gallery/pic2.2.jpg'%}" class="check-km" title="Ferrari 2">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic2.3.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic2.3.JPG'%}" data-src="{%static 'images/gallery/pic2.3.JPG'%}" class="check-km" title="Ferrari 3">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic2.4.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic2.4.JPG'%}" data-src="{%static 'images/gallery/pic2.4.JPG'%}" class="check-km" title="Ferrari 4">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic3.1.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic3.1.JPG'%}" data-src="{%static 'images/gallery/pic3.1.JPG'%}" class="check-km" title="Range Rover 1">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic3.2.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic3.2.JPG'%}" data-src="{%static 'images/gallery/pic3.2.JPG'%}" class="check-km" title="Range Rover 2">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic3.3.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic3.3.JPG'%}" data-src="{%static 'images/gallery/pic3.3.JPG'%}" class="check-km" title="Range Rover 3">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic3.4.jpg'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic3.4.jpg'%}" data-src="{%static 'images/gallery/pic3.4.jpg'%}" class="check-km" title="Range Rover 4">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic4.1.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic4.1.JPG'%}" data-src="{%static 'images/gallery/pic4.1.JPG'%}" class="check-km" title="Thar 1">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic4.2.png'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic4.2.png'%}" data-src="{%static 'images/gallery/pic4.2.png'%}" class="check-km" title="Thar 2">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic4.3.png'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic4.3.png'%}" data-src="{%static 'images/gallery/pic4.3.png'%}" class="check-km" title="Thar 3">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 m-b15">
                                    <div class="dlab-box">
                                        <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom"> <img src="{%static 'images/gallery/pic4.4.JPG'%}" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon"> 
                                                    <span data-exthumbimage="{%static 'images/gallery/pic4.4.JPG'%}" data-src="{%static 'images/gallery/pic4.4.JPG'%}" class="check-km" title="Thar 4">		
                                                        <i class="fa fa-picture-o icon-bx-xs"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- content on hover END -->
        </div>
    </div>
</div>
<!-- Left & right section END -->
<!-- Content END-->

{%endblock%}

{% block footer%}
<!-- Footer -->
<footer class="site-footer text-uppercase">
    <div class="footer-top">
        <div class="container saf-footer">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
                    <div class="widget widget_getintuch">
                        <h5 class="m-b30 text-white ">Contact us</h5>
                        <ul>
                            <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road
                                Chi Minh City, Vietnam </li>
                            <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support Line)</li>
                            <li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 col-sm-6 col-5 footer-col-4">
                    <div class="widget widget_services border-0">
                        <h5 class="m-b30 text-white">Company</h5>
                        <ul>
                            <li><a href="index.html">About Us </a></li>
                            <li><a href="index.html">Home </a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="about-1.html">About Us</a></li>
                            <li><a href="services-2.html">Our Services</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 col-sm-6 col-7 footer-col-4">
                    <div class="widget widget_services border-0">
                        <h5 class="m-b30 text-white">Useful Link</h5>
                        <ul>
                            <li><a href="index.html">Create Account</a></li>
                            <li><a href="index.html">Company Philosophy </a></li>
                            <li><a href="contact.html">Corporate Culture</a></li>
                            <li><a href="about-1.html">Portfolio</a></li>
                            <li><a href="services-2.html">Client Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
                    <div class="widget widget_gallery gallery-grid-4">
                        <h5 class="m-b30 text-white">Gallery</h5>
                        <iframe class=""
                            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14444.846145183914!2d75.84806889203723!3d25.16233421040968!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1517832215254"
                            style="border:0; width:100%; min-height:300px;	height:100%; vertical-align: middle;"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2022 developed by <a
                            href="https://www.linkedin.com/in/prince-mishra-7379101ab/" target="_blank">Prince
                            Mishra</a></span> </div>
                <div class="col-md-6 col-sm-6 text-right ">
                    <div class="widget-link ">
                        <ul>
                            <li><a href="javascript:void(0);"> Help Desk</a></li>
                            <li><a href="javascript:void(0);"> Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->

{%endblock%}

{% block script %}
<script>
    var tpj = jQuery;
    var revapi152;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_152_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_152_1");
        } else {
            revapi152 = tpj("#rev_slider_152_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "//server.local/revslider/wp-content/plugins/revslider/public/assets/js/",
                sliderLayout: "fullscreen",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1240, 1024, 778, 480],
                gridheight: [868, 768, 960, 720],
                lazyType: "none",
                shadow: 0,
                spinner: "off",
                autoHeight: "off",
                fullScreenAutoWidth: "off",
                fullScreenAlignForce: "off",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    disableFocusListener: false,
                }
            });
        }

        var targetdate = new Date().getTime() + 864000000 // i.e. '2015/12/31 24:00',
        slidechanges = [
            { days: 0, hours: 0, minutes: 0, seconds: 12, slide: 2 },
            { days: 0, hours: 0, minutes: 0, seconds: 0, slide: 3 }
        ];

        tp_countdown(revapi152, targetdate, slidechanges);

        RsTypewriterAddOn(tpj, revapi152);
    });
</script>

{% endblock %}